/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
/* /RESET */

/* logo position */
header{
    background-color: white;
    padding: 20px 0px;
    height: 100px;
}

header img{
    margin: 20px;
    vertical-align: middle;
    height: 80px;
}
.title{
    display: inline;
    vertical-align: middle;
    font-size: 3rem;

}
/* /logo position */

main{
    background-color: rgb(235, 235, 235);
    height: 1500px;

}
.boxbutton{
    background-color: white;
    margin-top: 50px;
    margin-left: 350px;
    padding: 20px;
    width: 1200px;
    border-radius: 10px 10px 0px 0px;
    
}
.boxlist{
    background-color: white;
    margin-top: 5px;
    margin-left: 350px;
    padding: 20px;
    width: 1200px;
    border-radius: 0px 0px 10px 10px;
    
}
.menutask{
    display: inline;
    background-color: rgb(106, 180, 255);
    color: white;
    padding: 6px;
    margin: 0 3px;
    border-radius: 10px; 

}
.menusection{
    color: gray;
    border-color: gray;
    display: inline;
    border-style: solid;
    padding: 6px;
    margin: 0 3px;
    border-radius: 10px;
}
li{ 
    list-style-type: none;
}
.checkmark{
    border: solid rgb(201, 255, 201);
    border-radius: 50%;
    text-align: center;
    
    
}
.cross{
    border: solid rgb(255, 120, 120);
    border-radius: 50%;
}
.listitem{
    margin:1rem 0rem 4rem 2rem
}



