/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* /RESET */

/* GENERAL */
body{
    background-color: rgb(235, 235, 235);
    font-family: Arial, Helvetica, sans-serif;

}
/* GENERAL */

/* logo position */
header{
    background-color: white;
    padding: 0 20px;
    margin-bottom: 20px;
    height: 150px;
    line-height: 150px;
}

header img{
    margin: 20px;
    vertical-align: middle;
    height: 80px;
}
.title{
    display: inline;
    vertical-align: middle;
    font-size: 3rem;

}
/* /logo position */

/* add section and add task background */
.boxbutton{
    background-color: white;
    margin: 0 auto;
    padding: 1.3rem;
    width: 60%;
    border-radius: 10px 10px 0px 0px;
    
}
/* add section and add task background */


/*list background */
.boxlist{
    background-color: white;
    margin: 0 auto;
    margin-top: 0.2rem;
    padding: 1.3rem;
    width: 60%;
    border-radius: 0px 0px 10px 10px;
    
}
/*list background */
button{
    cursor: pointer;
    border: 0;
}
/* task button */
.menutask{
    display: inline;
    background-color: rgb(106, 180, 255);
    color: white;
    padding: 0.6rem 1rem;
    margin-left: 4rem;
    border-radius: 5px; 

}
/* task button */

/* section button */
.menusection{
    color: gray;
    border-color: gray;
    display: inline;
    border-style: solid;
    border-width: 0.1rem;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 5px;
}
/* section button */

/* eliminate black dot and margin correction */
li{ 
    list-style-type: none;
    margin-left: 2rem;
}
/* eliminate black dot and margin correction */

/* check mark and cross style */
.checkmark{
    border: 3px solid #559d55;
    display: inline-block;
    border-radius:0%;
    height: 2rem; 
    width: 2rem;
    border-radius: 50%;
    text-align: center;
    line-height: 1.5rem;
    color: #559d55;
    
    
    
}
.cross{
    border: solid #ff7878;
    display: inline-block;
    border-radius:0%;
    height: 2rem; 
    width: 2rem;
    border-radius: 50%;
    text-align: center;
    line-height: 1.5rem;
    color: #ff7878;
}
/* check mark and cross style */


.listitem{
    margin:1rem 0rem 4rem 1rem;
}
.listobject{
    margin: 1rem 0rem;
}

/* tag color and shape */
.tag{
    border-radius: 10px;
    margin-left: 2rem;
    padding: 0.3rem 1rem;
    color: white;
}

.blu{
    background-color: rgb(162, 210, 255);
}
.purple{
    background-color: rgb(202, 145, 255);
}
.orange{
    background-color: rgb(255, 209, 124);
}
.green{
    background-color: rgb(72, 133, 72);
}
.pea{
    background-color: rgb(163, 198, 111);
}
.pink{
    background-color: pink;
}
/* tag color and shape */


